<!doctype html>
<html>

<head>
    <title>CalebWatters</title>
    <link rel='stylesheet' href='/css/style.css' type='text/css'>
</head>

<body>
    <div class="box">
        <h1>CalebWatters</h1>
        <hr>
        <h2>Bio</h2>
        <p>He will write some stuff here a little bit later.</p>
    </div>
</body>